* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 20px 60px;
    width: 317px;
    border: 2px solid black;
}

.info--body {
    text-align: center;
}

.info--img {
    width: 317px;
    height: 317px;
}

.info--body h3 {
    color: #f47d27;
}

.info--btns {
    display: flex;
    justify-content: space-evenly;

}

.info--btn {
    display: flex;
    justify-content: space-around;
    width: 115px;
    height: 34px;
    padding: 12px 16px;
}

.info--btn .icon {
    width: 16px;
    height: 16px;
    color: red;
}

.info-btn-linkedin {
    background-color: #297fe5;
    color: white;
}