* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 20px 60px;
    width: 317px;
    background-color: #f5f5f5;
}

.info--body {
    text-align: center;
}

.info--img {
    width: 317px;
    height: 317px;
    padding: 0 -30px;
}

.info-body-body {
    padding: 0 30px;
}

.info--content {
    line-height: 5px;
    padding-bottom: 20px;
}

.info--body h3 {
    color: #f47d27;
}

.info--body p {
    color: #4a4e74;
    font-size: small;
}

.info--btns {
    display: flex;
    justify-content: space-evenly;

}

.info--btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 115px;
    height: 34px;
    padding: 9px 13px;
    border-radius: 6px;
    border: 0.5px solid #D5D4D8;
}

.info--btn .icon {
    width: 16px;
    height: 16px;
    color: red;
}

.info-btn-linkedin {
    background-color: #297fe5;
    color: white;
}

/* About Section */

.about {
    padding: 0 30px;
}

/* Interests Section */

.interests {
    padding: 0 30px;
}

/* Footer Section */

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #D5D4D8;
    height: 64px;
}
.footer svg {
    width: 25px;
    height: 25px;
}